body{
    background-color:#000064;
    color:#FFFFFF;
    min-height:99vh;
    display: flex;
    flex-direction: column;
    background-image:url("/water.jpg");
    background-size:cover;
}
.banner{
    width:100%;
    text-align:center;
}
#icon{
    width:12%;
}
#banner{
    width:50%;
}
.bannerBtn{
    display:block;
    float:left;
    width:20%;
    box-sizing:border-box;
    border-color:#00D7FF;
    border-style:solid;
    background-color:#000064;
    color:white;
    text-decoration:none;
    font-size:2rem;
    transition:1s;
}
.bannerBtn:hover{
    transition:0.5s;
    background-color:#0000D7;
    transform:scale(1.1,1);
}
footer{
    width:100%;
    text-align:center;
    height:1.5rem;
    line-height:100%;
    background-color:#000064;
    border-style:solid;
    border-color:#00D7FF;
    border-radius:10px;
    margin-top:auto;
    display:block;
    box-sizing:border-box;
    transition:2s;
}
footer:hover{
    transform:scale(1,1.25);
    transition:1s;
}
.content{
    width:80%;
    border-style:solid;
    border-color:#006400;
    padding:1rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    border-radius:10px;
    background-color:#000064;
    font-size:1.5rem;
    margin-bottom:1rem;
    transition:2s;
}
.content:hover{
    transition:1s;
    transform:scale(1.05);
}
.content h2{
    text-align:center;
}
a{
    color:#00D7FF;
}
a:hover{
    color:#0064FF;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
img{
    width:30%;
    margin:0.5rem;
    border-radius:10px;
    transition:2s;
}
img:hover:not(.bannerImg){
    transition:0.5s;
    transform:scale(1.1);
}